<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.load("jquery", "1.7.1");
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        $.get('http://localhost:8126/stats.json?<%= @http_query_string %>', function(data) {
          var formattedData = data.map(function(d) {
            return [new Date(parseInt(d[1]) * 1000).toString(), d[0]];
          });
          var dataTable = new google.visualization.DataTable();
          dataTable.addColumn('string', 'Timestamp');
          dataTable.addColumn('number', 'foobars');
          dataTable.addRows(formattedData);

          var options = {
            width: 800, height: 480,
            title: 'Silly Graphs'
          };

          var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
          chart.draw(dataTable, options);
        });
      }
    </script>
  </head>
  <body>
    <div id="chart_div"></div>
  </body>
</html>
